@import "typography.css";

@import "welcome.css";

@import "navigation.css";

@import "create-edit.css";

@import "table.css";

@import "login.css";

@import "item.css";

@import "category.css";

@import "inventories.css";
