header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: #fff;
  padding: 10px 20px;
}

header h1 .home {
  color: #fff;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}
.links {
    text-decoration: none;
}